-if post['published'] != "2009-11-17T19:01:00.001-05:00"
  -t = time_from_iso_format_str(post['published'])
  %h2.date-header= t.strftime('%A, %B %d, %Y')
  .post
    %h3.post-title= post.title
    .post-body
      %div
        %div(style="clear:both;")
        = post.content 
    %p.post-footer
      %em
        posted by Lisa at 
        %a.post-footer-link{ :href => post.link[4].href, :title => "permanent link" }
          = t.strftime('%I:%M %p')
