!!!
%html{html_attrs('en-US'), :dir => "ltr" }
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    %title Lisli
    %link(rel="stylesheet" type="text/css" href="/styles.css")
  %body
    #header
      %h1#blog-title Lisli
      %p#description
    
    #nav
      %ul
        %li
          %a{ :href => "/thoughts", :class => current_tab_if('/thoughts') }
            Thoughts
        %li 
          %a{ :href => "/", :class => current_tab_if(['/', '/language_assistance']) }
            Language Assistance
        %li
          %a{ :href => "/contact", :class => current_tab_if('/contact')}
            Contact
    #content
      #main
        #main2
          =yield
      #sidebar
        #sidebar2
          #profile-container
            =haml :about_blurb, :layout => false
          =haml :links, :layout => false
          =haml :printed_word, :layout => false
          -# figure this out later
            =haml :previous_posts, :layout => false
            =haml :archives, :layout => false
  #footer
    %p
