!!!
%html{html_attrs('en-US'), :dir => "ltr" }
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    %title Lisli
    %link(rel="stylesheet" type="text/css" href="/styles.css")
  %body
    #header
      %h1#blog-title Lisli
      %p#description
        All about a certain Lisa
    
    #nav
      %ul
        %li
          %a{:title => "Wonderings and Wanderings", :href => "/"}
            Thoughts
        %li 
          %a(title="Meet your host!" href = "/language_assistance") 
            Language Assistance
        %li
          %a(title="Send me an email" href = "/contact")
            Contact
    #content
      #main
        #main2
          =yield
      #sidebar
        #sidebar2
          #profile-container
            =haml :about_blurb, :layout => false
          =haml :links, :layout => false
          -# figure this out later
            =haml :previous_posts, :layout => false
            =haml :archives, :layout => false
  #footer
    %p
